@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    overflow:hidden;
    background-color: #7900cc;
}

.container{
    display: flex;
    width:70%;
    height:700px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);

}

.right-division{   
    background-color:#fff;
    padding-left:120px;    
    
}
.left-division{
    width:60%;
    background-image: url("login-bg.jpg");
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
}

.left-heading{
    color:#fff;
    font-size:130px;
    margin-top:80px;
    margin-left:80px;
    font-weight:bolder;
}
.left-sub-text{
    color:#fff;
    margin-left: 80px;
    font-family: 'Titillium Web', sans-serif;
    width:70%;
}
.left-btn{
    margin-top:30px;
    margin-left: 80px;
}

.left-btn div{
    margin-bottom: 20px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}
.left-btn-text{
    font-family: 'Titillium Web', sans-serif;
}
.fb-btn{
    
    background-color: #4267B2;
    width:80px;
    padding:12px;
    border-radius:30px;
    border:1px solid #4267B2;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-right:15px;
    color:#fff;
    font-weight: bolder;
    font-size: 20px;
}
.tw-btn{
    background-color: #1DA1F2;
    width:250px;
    padding:12px;
    border-radius:30px;
    border:1px solid #1DA1F2;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    color:#fff;
}
.tw-btn img{
    width:20px;
}

.right-heading{
    color:#000;
    font-weight: bolder;
    font-size:40px;
    margin-top:60px;
    font-family: 'Titillium Web', sans-serif;
}

.right-sub-heading{    
   margin-top:10px;
   width:80%;
   font-family: 'Titillium Web', sans-serif;
}

form{
    margin-top:30px;
    font-family: 'Titillium Web', sans-serif;
}

.form-control input{
    width:80%;
    margin-bottom:30px;
    border-top:none;
    border-right:none;
    border-left:none;
    font-size: 18px;
}

.form-control input:focus{
outline:0;

}

.form-control .login-btn{
   margin-top:20px;
    padding:12px;
    width:80%;
   background-color: #2bed05;
   border:1px solid #2bed05;
   border-radius:30px;
   color:#fff;
   font-size:16px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

 input:checked{
    background-color: rgba(0, 255, 0, .8);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .1) inset;
    
   } 
